<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application de gestion des salles de réunion</title>
</head>
<body>
<h1>Bienvenue sur l'application de gestion des salles de réunion</h1>
<ul>
    <li><button onclick="window.location.href='/login'">Login</button></li>
    <li><button onclick="window.location.href='/signup'">Signup</button></li>
</ul>
</body>
</html>
