<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
<h1>register</h1>
<form action="/login" method="POST">
    <label for="username">username :</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Mot de passe :</label><br>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">submit</button>
</form>
</body>
</html>